.contact{
    background-image: url(./../../Images/contact.jpg);
    position: relative;
    background-image: cover;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;

    opacity: .9;
    z-index: -1;
}