.footer-style{
  border-radius: 7px;
  backdrop-filter: blur(20px);
  background-color: rgba(102,0,255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255,255,255,0.4) solid;
  border-bottom: 0px rgba(40,40,40,0.35) solid;
  border-right: 0px rgba(40,40,40,0.35) solid;
    color: bisque;
}
a:link {
    text-decoration: none;
    color: #222932;
    padding: 5px;
    width: 50px;
 
    
    font-size: 20px;
  }
  
  a:visited {
    color: #ef4f4f;
  }
  
  a:hover {
   color: #eeeeee;
  }
  
  a:active {
   color: hotpink;
  } 
